{% extends "Componentes/header.html" %}
{% load static %}
{% block links%}
<link rel="stylesheet" href="{% static 'inicio.css' %}">
{% endblock %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>

<body>
    {% block content %}
    <div class="header-content">
        <div class="header-container">
            <h2>¡<a id="username">{{user.username}} </a>bienvenido a <a id="title-3">Just</a><a id="title-4">Cats</a>!
            </h2>
            <p>Navega por el paraiso de los productos de gatos</p>
        </div>
    </div>
    <div class="search-content">
        <input type="text" placeholder="Buscar un producto">
    </div>
    <div class="content-products">
        <div class="card-productos">
            <img src="../static/img/Productos/desodorante-para-gatos.jpg-ps.jpg">
            <a id="header-product">Desodorante para gatos</a>
            <a id="desc-product">El desodorante para gatos en spray de Bioline es un excelente producto</a>
            <button id="btnProducto">Ver producto</button>
        </div>
        <div class="card-productos">
            <img src="../static/img/Productos/desodorante-para-gatos.jpg-ps.jpg">
            <a id="header-product">Desodorante para gatos</a>
            <a id="desc-product">El desodorante para gatos en spray de Bioline es un excelente producto</a>
            <button id="btnProducto">Ver producto</button>
        </div>
        <div class="card-productos">
            <img src="../static/img/Productos/desodorante-para-gatos.jpg-ps.jpg">
            <a id="header-product">Desodorante para gatos</a>
            <a id="desc-product">El desodorante para gatos en spray de Bioline es un excelente producto</a>
            <button id="btnProducto">Ver producto</button>
        </div>
        <div class="card-productos">
            <img src="../static/img/Productos/desodorante-para-gatos.jpg-ps.jpg">
            <a id="header-product">Desodorante para gatos</a>
            <a id="desc-product">El desodorante para gatos en spray de Bioline es un excelente producto</a>
            <button id="btnProducto">Ver producto</button>
        </div>
    </div>
    <div class="content-products">
        <div class="card-productos">
            <img src="../static/img/Productos/desodorante-para-gatos.jpg-ps.jpg">
            <a id="header-product">Desodorante para gatos</a>
            <a id="desc-product">El desodorante para gatos en spray de Bioline es un excelente producto</a>
            <button id="btnProducto">Ver producto</button>
        </div>
        <div class="card-productos">
            <img src="../static/img/Productos/desodorante-para-gatos.jpg-ps.jpg">
            <a id="header-product">Desodorante para gatos</a>
            <a id="desc-product">El desodorante para gatos en spray de Bioline es un excelente producto</a>
            <button id="btnProducto">Ver producto</button>
        </div>
        <div class="card-productos">
            <img src="../static/img/Productos/desodorante-para-gatos.jpg-ps.jpg">
            <a id="header-product">Desodorante para gatos</a>
            <a id="desc-product">El desodorante para gatos en spray de Bioline es un excelente producto</a>
            <button id="btnProducto">Ver producto</button>
        </div>
        <div class="card-productos">
            <img src="../static/img/Productos/desodorante-para-gatos.jpg-ps.jpg">
            <a id="header-product">Desodorante para gatos</a>
            <a id="desc-product">El desodorante para gatos en spray de Bioline es un excelente producto</a>
            <button id="btnProducto">Ver producto</button>
        </div>
    </div>
    <div class="content-products bottom">
        <div class="card-productos">
            <img src="../static/img/Productos/desodorante-para-gatos.jpg-ps.jpg">
            <a id="header-product">Desodorante para gatos</a>
            <a id="desc-product">El desodorante para gatos en spray de Bioline es un excelente producto</a>
            <button id="btnProducto">Ver producto</button>
        </div>
        <div class="card-productos">
            <img src="../static/img/Productos/desodorante-para-gatos.jpg-ps.jpg">
            <a id="header-product">Desodorante para gatos</a>
            <a id="desc-product">El desodorante para gatos en spray de Bioline es un excelente producto</a>
            <button id="btnProducto">Ver producto</button>
        </div>
        <div class="card-productos">
            <img src="../static/img/Productos/desodorante-para-gatos.jpg-ps.jpg">
            <a id="header-product">Desodorante para gatos</a>
            <a id="desc-product">El desodorante para gatos en spray de Bioline es un excelente producto</a>
            <button id="btnProducto">Ver producto</button>
        </div>
        <div class="card-productos">
            <img src="../static/img/Productos/desodorante-para-gatos.jpg-ps.jpg">
            <a id="header-product">Desodorante para gatos</a>
            <a id="desc-product">El desodorante para gatos en spray de Bioline es un excelente producto</a>
            <button id="btnProducto">Ver producto</button>
        </div>
    </div>
    {% endblock %}
</body>

</html>